In [11]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
# Read CSV data
population = pd.read_csv("Data/PopulationByAgeSex.csv")

In [13]:
population_df = pd.DataFrame(population)
population_df

,Id,LocID,Location,Time,PopMale_0_4,PopFemale_0_4,PopTotal_0_4,PopMale_5_9,PopFemale_5_9,PopTotal_5_9,...,PopMale_95_99,PopFemale_95_99,PopTotal_95_99,PopMale_100Plus,PopFemale_100Plus,PopTotal_100Plus,PopMale,PopFemale,PopTotal,YearDataCompleted
0,1,4,Afghanistan,1950,630.044,661.578,1291.622,516.206,487.335,1003.541,...,0.004,0.003,0.007,0.000,0.000,0.000,4099.243,3652.874,7752.117,1
1,2,4,Afghanistan,1951,641.199,673.293,1314.492,525.302,502.402,1027.704,...,0.007,0.005,0.012,0.000,0.000,0.000,4134.756,3705.395,7840.151,1
2,3,4,Afghanistan,1952,650.825,669.274,1320.099,533.097,521.672,1054.769,...,0.012,0.009,0.021,0.000,0.000,0.000,4174.450,3761.546,7935.996,1
3,4,4,Afghanistan,1953,659.896,663.606,1323.502,538.351,541.216,1079.567,...,0.015,0.013,0.028,0.000,0.000,0.000,4218.336,3821.348,8039.684,1
4,5,4,Afghanistan,1954,670.694,663.295,1333.989,540.820,557.196,1098.016,...,0.014,0.011,0.025,0.000,0.000,0.000,4266.484,3884.832,8151.316,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66888,66889,716,Zimbabwe,2096,953.505,939.918,1893.423,968.045,956.123,1924.168,...,3.108,11.248,14.356,0.142,0.883,1.025,15008.463,15932.316,30940.779,1
66889,66890,716,Zimbabwe,2097,950.059,936.463,1886.522,963.764,951.798,1915.562,...,4.189,13.881,18.070,0.154,0.947,1.101,15008.822,15943.386,30952.208,1
66890,66891,716,Zimbabwe,2098,946.047,932.455,1878.502,959.864,947.789,1907.653,...,5.003,15.945,20.948,0.169,1.022,1.191,15007.570,15952.241,30959.811,1
66891,66892,716,Zimbabwe,2099,941.631,928.001,1869.632,956.124,943.898,1900.022,...,4.960,16.180,21.140,0.185,1.107,1.292,15004.963,15959.089,30964.052,1
66892,66893,716,Zimbabwe,2100,937.118,923.351,1860.469,952.224,939.830,1892.054,...,3.581,13.659,17.240,0.204,1.203,1.407,15001.252,15964.169,30965.421,1

In [14]:
population_df.to_html("Data/pop.html", index = False)

In [ ]:
#conn = 'mongodb://localhost:27017'
#client = pymongo.MongoClient(conn)

#engine = create_engine('postgresql://postgres:<mypassword>@localhost:5432/<mydatabase>'

In [19]:
connection_string = 'postgresql://postgres:Macampon122010@localhost:5432/project_db'
engine = create_engine(f"postgresql://{connection_string}")

In [20]:
engine = create_engine('postgresql://postgres:Macampon122010@localhost:5432/project_db')

In [21]:
engine.table_names()

<ipython-input-21-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['population']

In [22]:
population_df.to_sql(name="population", con = engine,if_exists = "append", index = False )